<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Registrations Numbers Web-App</title>
	  
    <!-- Bootstrap -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  />
	
	<!-- Local CSS -->
	<link rel="stylesheet" href="/public/css/style.css">
	  
  </head>
	
  <body>
      <h1>Registration, Numbers!</h1>
	  {{{body}}}
	  
	  <div class="FormTwoContainer">

</div>

<div class="regContainer">
	<ul>
		{{#each data}}
		<li class="regNumbers">{{registration_number}}</li>
		{{/each}}
		
		{{#unless data}}
			<li class="notFound">Registration Numbers Not Found!</li>
		{{/unless}}
	</ul>
</div>

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//public/javascript/localStorage.js" charset="utf-8"></script>
  </body>
</html>