<form class="navbar-form navbar-left" role="search" method="post" action="/reg_numbers">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Registration Number" name="regNum">
  </div>
  <button type="submit" class="btn btn-default">Add</button>
</form>


<div class="regContainer">
		<div class="regNumbers">{{reg_numbers}}</div>
</div>